services:
  pliego-db:
    image: postgres:15-alpine
    container_name: pliego-db
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    networks:
      - pliego_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U magoreal -d base"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  pliego-django:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pliego-django
    restart: unless-stopped
    command: ./entrypoint.sh
    volumes:
      - ./staticfiles:/app/staticfiles
      - ./media:/app/media
    ports:
      - "8002:8000"
    env_file:
      - .env
    depends_on:
      pliego-db:
        condition: service_healthy
    networks:
      - pliego_network

volumes:
  postgres_data:

networks:
  pliego_network:
    driver: bridge
