chromadb==0.6.3
Django==5.2
django-browser-reload==1.18.0
django-cors-headers==4.7.0
django-tailwind-4==0.1.4
# graph-retriever==0.8.0
langchain==0.3.23
langchain-chroma==0.2.3
langchain-community==0.3.21
langchain-core==0.3.52
langchain-graph-retriever==0.8.0
langchain-openai==0.3.13
psycopg2-binary==2.9.10
rich==14.0.0
markdown==3.8

langgraph==0.3.30
django-crispy-forms==2.4
crispy-tailwind==1.0.3

# TODO IMPORTANTE
# https://github.com/langchain-ai/langchain/pull/30899/commits/e2c3d61d73ee86c4ae6fc829e8b85c5c4edfe92b#diff-9700f0a70b33244afc1209eab2202c1e71d53ab7ad1d053d9522e372da4dd923

python-docx==1.1.2
pandoc==2.4
beautifulsoup4==4.13.4
html2text>=2025.4.15

scipy==1.15.3
gunicorn