chromadb==0.6.3
Django==5.2
django-browser-reload==1.18.0
django-cors-headers==4.7.0
django-tailwind-4==0.1.4
# graph-retriever==0.8.0
langchain==0.3.23
langchain-chroma==0.2.3
langchain-community==0.3.21
langchain-core==0.3.52
langchain-graph-retriever==0.8.0
langchain-openai==0.3.13

langgraph==0.3.30
langgraph-cli==0.2.3
