{% extends 'base_pliego.html' %}
{% load static crispy_forms_tags tailwind_tags %}

{% block meta %}

{% endblock %}

{% block css %}

{% endblock %}

{% block title %}
Generar Especificacion
{% endblock %}

{% block breadcrumbs_bar %}{% endblock %}

{% block body_class %}
  
{% endblock %}

{% block content %}
  {% comment %} <!-- Navbar -->
  <div class="bg-primary text-white shadow z-50">
    <div class="flex items-center justify-between px-4 py-2">
      <!-- Izquierda -->
      <div class="flex items-center space-x-4">
        <!-- Botón de menú -->
        <a href="https://hotpink-mongoose-920011.hostingersite.com/app/main" class="text-white focus:outline-none"><i class="fas fa-arrow-left text-xl"></i></a>

        <!-- Marca -->
        <a href="main" class="text-lg font-semibold tracking-wide">GDAR</a>
      </div>
    </div>
  </div> {% endcomment %}

<!-- Modal de confirmación -->
<dialog id="modal_parametros" class="modal">
  <div class="modal-box">
      <h3 class="text-lg font-bold"></h3>
      <p class="py-4"></p>
      <p class="py-4"></p>
      <div class="modal-action">
          <form method="dialog">
              <button id="modalButtonYes" class="btn">Aceptar</button>
              <button id="modalButtonNo" class="btn">Cancelar</button>
          </form>
      </div>
  </div>
</dialog>

  <div class="flex flex-col items-center mt-6">
    <ul class="steps w-full mt-4 text-neutral-content">
      {% for paso in pasos %}
        <li class="step {% if paso.numero <= paso_actual %}step-primary{% endif %}">{{ paso.nombre }}</li>
    {% endfor %}
  </ul>

  <!-- Contenido del paso -->
  {% if paso_actual == 1 %}
    {% include 'pasos/paso1_nombre.html' %}
  {% elif paso_actual == 2 %}
    {% include 'pasos/paso2_esp_base.html' %}
  {% elif paso_actual == 3 %}
    {% include 'pasos/paso3_parametros.html' %}
  {% elif paso_actual == 4 %}
    {% include 'pasos/paso4_adicionales.html' %}
  {% elif paso_actual == 5 %}
    {% include 'pasos/paso5_pliego.html' %}
  {% endif %}
{% endblock %}

{% block js %}

{% endblock %}
