@import "tailwindcss";

@source "../../../**/*.{html,py,js}";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/aspect-ratio";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "constructor";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #cb4040;
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: #45484d;
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: #45484d;
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: #466baf;
  --color-info-content: oklch(98% 0.003 247.858);
  --color-success: #8baf46;
  --color-success-content: oklch(98% 0.002 247.839);
  --color-warning: #ab7a4b;
  --color-warning-content: oklch(98% 0.002 247.839);
  --color-error: #b55151;
  --color-error-content: oklch(98% 0.003 247.858);
}

@config "./tailwind.config.js";

@layer base {
  body {
    font-family: 'Nunito', sans-serif;
  }
}
@layer components {
  .prose ul {
    @apply !pl-6 !text-2xl;
  }
  .prose h2 {
    @apply !font-bold !text-blue-800 !text-xl;
  }
  .prose h3 {
    @apply !font-bold !text-blue-800 !text-lg;
  }
  .prose h4 {
    @apply !font-bold !text-black !text-xl;
  }
  .prose p {
    @apply !text-base;
  }
  .prose li {
    @apply !text-base;
  }
}
